@charset 'UTF-8'

.footer
    padding:  40px 100px 
    // &__title
    //     font-size: 30px
    &__phone
        // font-size: 30px
        font-weight: 600
    &__text
        color: rgba(255, 255, 255, 0.70)
        font-size: 16px


@media (max-width: 600px)
    .footer
        padding: 80px
        text-align: center
        &__title
            width: 100%
            font-size: 18px
            margin-bottom: 20px
        &__phone
            width: 100%
            font-size: 16px
            text-align: center
            margin-bottom: 40px
        &__text
            font-size: 14px