@charset 'UTF-8'

.footer
    color: #FFF
    padding:  40px 100px 40px  100px
    &__title
        font-size: 30px
        font-style: normal
        font-weight: 700
        line-height: 160%
    &__phone
        text-align: right
        font-size: 30px
        font-style: normal
        font-weight: 600
        line-height: 160%
    &__text
        color: rgba(255, 255, 255, 0.70)
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 160%

@media (max-width: 800px)
    .footer
        text-align: center
        &__phone
            text-align: center

@media (max-width: 540px)
    .footer
        text-align: center
        align-content: center
        padding: 80px
        &__title
            margin-left: auto
            margin-right: auto
            margin-bottom: 20px
            font-size: 18px
            text-align: center
        &__phone
            margin-left: auto
            margin-right: auto
            font-size: 16px
            text-align: center
            margin-bottom: 40px
        &__text
            margin-left: auto
            margin-right: auto