@charset 'UTF-8'

.navbar
    padding-left: 100px 
    padding-right: 100px 
    &__title
        font-size: 30px
        line-height: 160%
    &__phone 
        font-size: 30px
        font-weight: 600
        line-height: 160%
    &__link
        font-size: 20px
        margin-right: 40px
        line-height: 160%
    &__menu-btn
        width: 44px
        height: 44px
.modal 
    &__link
        font-size: 30px
        font-weight: 600
        margin-bottom: 20px
    &__btn
        position: absolute
        top: 10px
        right: 10px
       
@media (max-width: 1440px) 
    .navbar
        padding-left: 10px 
        padding-right: 10px

@media (max-width: 540px)
    .navbar
        &__title
            font-size: 18px

