@charset 'UTF-8'

.feedback
    &__title
        color: #FFF
        font-size: 36px
        font-style: normal
        font-weight: 600
        line-height: 130%
    &__text
        color: #FFF
        font-size: 20px
        font-style: normal
        font-weight: 400
        line-height: 130%
.percent
    // position: relative