@charset 'UTF-8'

.feedback
    align-content: center
    &__title
        color: #FFF
        font-size: 36px
        font-style: normal
        font-weight: 600
        line-height: 130%
    &__text
        color: #FFF
        font-size: 20px
        font-style: normal
        font-weight: 400
        line-height: 130%
    &__desc
        margin-right: 144px
    &__form
        min-width: 500px
    
.percent
    // position: relative