@charset 'UTF-8'

.main-header
  width: 100%
  position: relative
  background: #141024
  color: #fff
  position: relative
  &__title
    color: #FFF
    font-size: 70px
    font-style: normal
    font-weight: 600
    line-height: 160%
    margin-bottom: 20px 
    margin-top: 250px
  &__text
    font-size: 20px
    font-style: normal
    font-weight: 400
    line-height: 160%
    margin-bottom: 50px
  &__btn
    background: #D52027
    display: inline-flex
    padding: 25px 54px
    justify-content: center
    align-items: center
    gap: 10px
    text-align: center
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 160%
    border-radius: 5px
    margin-bottom: 400px
    z-index: 1
  &__img
    width: 40%
    position: absolute
    right: 213px
    bottom: 0px

@media (max-width: 800px)
  .main-header
    &__btn
      margin-bottom: 40px
      margin-right: auto
      margin-left: auto
      width: 94%
    &__img
      left:0
      position: absolute
      width: 273px
      margin-right: auto
      margin-left: auto
      bottom: 60px
      width: 85%
      padding: 24px
      right: 0px
    &__title
      font-size: 30px
      margin-top: 55px
      margin-right: auto
      margin-left: auto
    &__text
      font-size: 16px
      margin-right: auto
      margin-left: auto
      margin-bottom: 380px
      width: 95%