@charset 'UTF-8'

.main-header
  position: relative
  &__title
    font-size: 70px
    font-weight: 600
    margin-bottom: 20px 
    margin-top: 250px
  &__text
    font-size: 20px
    // margin-bottom: 50px
  &__btn
    // display: inline-flex
    padding: 25px 54px
    font-size: 18px
    border-radius: 5px
    margin-bottom: 400px
  &__img
    width: 40%
    position: absolute
    right: 213px
    bottom: 0px

@media (max-width: 800px)
  .main-header
    &__title
      font-size: 30px
      margin-top: 55px
      margin-right: auto
      margin-left: auto
      text-align: center
    &__text
      font-size: 16px
      margin-right: auto
      margin-left: auto
      margin-bottom: 700px
      width: 95%
      text-align: center
      padding-left: 10px
      padding-right: 10px
    &__btn
      margin-bottom: 40px
      margin-right: auto
      margin-left: auto
      width: 60%
    &__img
      left:0
      position: absolute
      width: 273px
      margin-right: auto
      margin-left: auto
      bottom: 60px
      width: 85%
      padding: 24px
      right: 0px


@media (max-width: 540px)
  .main-header
    &__text
      margin-bottom: 280px
    &__btn
      width: 94%
    &__img
      width: 273px
      height: 320px
