@charset 'UTF-8'

.info
    margin-bottom: 120px
        
@media (max-width: 800px)
    .info
        &__description
            font-size: 20px
        &__number
            text-align: center
        &__text
            text-align: center
            padding-right: 0px