.package-card
    margin-bottom: 120px
    border-radius: 20px
    border: 1px solid rgba(20, 16, 36, 0.20) 
    color: $secondary
    transition: 0.3s
    &__title
        // font-size: 30px
        font-weight: 600
        margin-bottom: 83px
    &__price
        // font-size: 50px 
        font-weight: 600
    &__details
        font-size: 18px
        width: 250px
    &__btn
        font-size: 18px
        border-radius: 5px

.package-card:hover
    background-color: $secondary
    color: #fff 

@media (max-width: 600px)
    .package-card
        max-width: 300px
        margin-bottom: 30px
        &__details
            font-size: 16px
        &__btn
            font-size: 16px
            margin: 0px 20px 40px 20px
